{% extends 'layout/app/app.html.twig' %}

{% block title %}Edytuj kategorię{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edytuj kategorię</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('app_app_index_index') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('category_index') }}">Lista kategorii</a></li>
                        <li class="breadcrumb-item active">Edytuj kategorię</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-plus"></i> Edytuj kategorię</h3>
                    </div>
                    <div class="card-body pad table-responsive">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.category_name, 'Nazwa kategorii') }}
                            {{ form_widget(form.category_name) }}
                            {{ form_errors(form.category_name) }}
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                {{ form_widget(form.category_disabled) }}
                                {{ form_label(form.category_disabled) }}
                                {{ form_errors(form.category_disabled) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.category_order_by) }}
                            {{ form_widget(form.category_order_by) }}
                            {{ form_errors(form.category_order_by) }}                        
                        </div>
                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('dep/AdminLTE/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('dep/AdminLTE/plugins/jquery-validation/additional-methods.min.js') }}"></script>
<script src="{{ asset('dep/AdminLTE/plugins/jquery-validation/localization/messages_pl.min.js') }}"></script>
<script src="{{ asset('view/app/js/product/category/add_edit.js') }}"></script>
{% endblock %}