{% extends 'layout/app/app.html.twig' %}

{% block title %}Lista produktów{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dep/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dep/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lista produktów</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('app_app_index_index') }}">Home</a></li>
                        <li class="breadcrumb-item active">Lista produktów</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-10">
                <table class="table table-bordered table-striped dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Symbol produktu</th>
                            <th>Nazwa produktu</th>
                            <th>Opis</th>
                            <th>Kategoria</th>
                            <th>Dostawca</th>
                            <th>Cena</th>
                            <th>Data dodania</th>
                            <th>Data aktualizacji</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
            <div class="col-2">
                <form class="form-filter">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center">Filtrowanie</h4>
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-6 ">
                            <button type="button" class="btn btn-default btn-filter-clear">Wyczyść</button>
                        </div>
                        <div class="col-6 float-right text-right">
                            <button type="button" class="btn btn-primary btn-filter">Filtruj</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Kategoria</label>
                                <select class="form-control" name="idCategory">
                                    <option value="-1">(Wybierz)</option>
                                    {% for category in categories %}
                                    <option value="{{ category.idCategory }}">{{ category.categoryName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Dostawca</label>
                                <select class="form-control" name="idManufacturer">
                                    <option value="-1">(Wybierz)</option>
                                    {% for manufacturer in manufacturies %}
                                    <option value="{{ manufacturer.idManufacturer }}">{{ manufacturer.manufacturerName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Cena prod. od</label>
                                <input name="productPriceFrom" class="form-control" placeholder="0.00 zł" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Cena prod. do</label>
                                <input name="productPriceTo" class="form-control" placeholder="0.00 zł" />
                            </div>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Data dod. od</label>
                                <input name="productDateAddedFrom" class="form-control datetimepicker" placeholder="Y-m-d H:i" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Data dod. do</label>
                                <input name="productDateAddedTo" class="form-control datetimepicker" placeholder="Y-m-d H:i" />
                            </div>                    
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </section>

{% include "layout/app/parts/modals/confirmDelete.html.twig" %}
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset('dep/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dep/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dep/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('dep/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dep/AdminLTE/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('dep/AdminLTE/plugins/jquery-validation/additional-methods.min.js') }}"></script>
    <script src="{{ asset('dep/AdminLTE/plugins/jquery-validation/localization/messages_pl.min.js') }}"></script>
    <script>var productListUrl = '{{ url("product_listajax") }}';</script>    
    <script src="{{ asset('view/app/js/product/product/index.js') }}"></script>
{% endblock %}